.pt-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family:Roboto,Arial,sans-serif;
   
}
input#pt-pricebutton{
    padding:0px!important;
    border:none!important;
   cursor:pointer!important;
}
input#pt-pricebuttonPH{
    padding:0px!important;
    border:none!important;
   cursor:pointer!important;
}
.pt-modalPH {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99998; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family:Roboto,Arial,sans-serif;
   
}

/* Modal Content */
.pt-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 44%;
    font-family:Roboto,Arial,sans-serif;
   border-radius: 25px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: pt-animatetop;
    animation-duration: 0.4s
}
.pt-modal-contentPH {
   
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 1065px;
    font-family:Roboto,Arial,sans-serif;
   border-radius: 25px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetopPH;
    -webkit-animation-duration: 0.4s;
    animation-name: pt-animatetopPH;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes pt-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes pt-animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@-webkit-keyframes animatetopPH {
    from {top:-100px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes pt-animatetopPH {
    from {top:-100px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.pt-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.pt-closePH {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pt-close:hover,
.pt-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.pt-closePH:hover,
.pt-closePH:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pt-modal-header {
    padding: 2px 16px;
    background-color: #2874f0;
    color: white;
    border-radius: 20px 20px 0px 0px;
    font-family:Roboto,Arial,sans-serif;
   
}

.pt-modal-body {padding: 2px 16px;}

.pt-modal-footer {
    padding: 2px 12px;
    background-color: #d4dad4;
    color: grey;
    border-radius: 0px 0px 20px 20px;
    font-family:Roboto,Arial,sans-serif;
}
input[type="text"].ptinput {
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input.ptrg[type="radio"] {
  display: inline-block!important;
    -webkit-appearance: radio!important;
      height: auto!important;
      width: auto!important;
          clip: initial!important;
              position: relative!important;
                  margin: 0px!important;
                  cursor: pointer!important;
                    bottom: 0px!important;
       top: 0px!important;
         left: 0px!important;
    opacity: initial!important;
}
select.ptinput {
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
select.ptinput:focus,
select.ptinput.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input[type="text"].ptinput:focus,
input[type="text"].ptinput.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input.ptinput[type=number],input.ptinput[type=email]
{
    width: auto;
    font-size: 14px;
    margin: 0;
    margin: initial;
    height: auto;
    display: inline-block;
    text-transform: none;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px 8px;
    
    color: black!important;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: border-color .3s ease-out,box-shadow .3s ease-out;
}
input.ptinput[type=number]:disabled,input.ptinput[type=email]:disabled
{
    background-color: #d8d7d7;
}

input#pt-pricedropbyvalue[type=checkbox]
{
      display: inline-block;
          vertical-align: middle!important;
              bottom: 0px!important;
                  margin: 0px!important;
    position: relative!important;
    left: 0px!important;
     -webkit-appearance:checkbox!important;
     bottom: 0px!important;
       top: 0px!important;
           box-shadow: none!important;
    left: 0px!important;
    opacity: initial!important;
}
input#submitptpricedrop {
      background-color: #1196E7; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
        text-transform: none!important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#submitptpricedrop {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input#submitptpricedrop:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input#closeptgraph {
      background-color: #1196E7; /* Green */
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
        text-transform: none!important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#closeptgraph {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input#closeptgraph:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input#unsubscribeptpricedrop{
      background-color: #F85353; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    text-transform: none!important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#unsubscribeptpricedrop {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input#unsubscribeptpricedrop:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input#ptmobileverify {
      background-color: #1196E7; /* Green */
    border: none;
    color: white;
    padding:  8px 16px;
    text-align: center;
    text-decoration: none;
  text-transform: none!important;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#ptmobileverify {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input#ptmobileverify:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input#ptemailverify {
      background-color: #1196E7; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  text-transform: none!important;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#ptemailverify {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input#ptemailverify:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.pt-loading{
    background-position:left;
  background-image : url('https://assets.indiadesire.com/extn/images/loading.gif');  
  background-repeat:no-repeat;
 
   
}
.displaynone{
    display: none!important;
}
.displayinline{
    display: inline-block!important;
}

.pt-loading:after {
    font-size: 16px;
    color:#4CAF50;
    content: "Verifying...";
    padding-left : 25px;
}
.pt-submitting{
    width:50%;
    background-position:left;
  background-image : url('https://assets.indiadesire.com/extn/images/loading.gif');  
  background-repeat:no-repeat;
 
   
}
.pt-submitting:after {
    font-size: 18px;
    color:#4CAF50;
    content: "Processing . . . Please Wait . . .";
    padding-left : 25px;
}
.pt-unsubmitting{
    background-position:left;
  background-image : url('https://assets.indiadesire.com/extn/images/loading.gif');  
  background-repeat:no-repeat;
 
   
}
.pt-unsubmitting:after {
    font-size: 18px;
    color:#4CAF50;
    content: "Cancelling...Please Wait..";
    padding-left : 25px;
}
img#ptpoweredby{
        vertical-align: baseline!important;
}