.nwe-twitter-action {
  padding-left: 25px;
  display: flex;
  padding-top: 3px;
  cursor: pointer;
}

.nwe-twitter-action:hover svg {
  fill: #1da1f2;
  transition: background 0.5s ease-out;
}

.nwe-twitter-action svg {
  fill: rgba(136, 153, 166, 1);
}
