<div id="contact-success" class="contact-view contact-view--success">
	<div class="wrapper">
		<div id="contact-success-message" class="headline" style="padding: 30px 0px;">Your request was successfully submitted.</div>
	</div>
</div>

<div id="contact-form" class="contact-view">
	<div class="wrapper">
		<div class="headline">{ContactSupportTitle}</div>

		<div class="contact-view__input-container">
			<div class="textinput">
				<input class="textinput__input" id="contact-email" type="email" placeholder="{RegisterEmail}">
				<div class="textinput__errormessage">
					<div id="email-error" style="display: none;">{RegisterErrorEmail}</div>
				</div>
			</div>
			<div class="textinput">
				<input class="textinput__input" id="contact-subject" type="text" placeholder="Subject">
				<div class="textinput__errormessage">
					<div id="subject-error" style="display: none;">Subject too short</div>
				</div>
			</div>
			<div class="textinput">
				<div class="textarea">
					<textarea style="font-size: 16px"
					id="contact-message" placeholder="Please enter the details of your request. We will respond as soon as possible."></textarea>			
				</div>
				<div class="textinput__errormessage">
					<div id="message-error" style="display: none;">Description too short</div>
				</div>
			</div>
			
		</div>

		<div id="response-error" class="textinput__errormessage">
					
		</div>

		<div class="contact-view__btn-container">
			<a id="contact-button" href="#" class="btn btn--large btn--flex">{ContactSupportButton}</a>
		</div>

	</div>	
</div>

<div id="maintenance-mode" class="maintenance-mode">
	<i class="material-icons maintenance-mode__close" id="maintenance-mode-close-icon">close</i>
	<div class="maintenance-mode__container">
		<div class="maintenance-mode__icon"><i class="material-icons">build</i></div>
		<div id="maintenance-msg" class="maintenance-mode__message">
	
		</div>
	</div>
</div>