.screenshotPreviewerManagerInternalBox {
  display: flex;
  font-family: "ClipperSoleil", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  line-height: 16px;
  font-weight: 500;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  border-radius: 4px;
  max-width: 198px;
  border: 1px solid #666666;
  flex-direction: column; }

.internalBox {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center; }
  .internalBox.screenshotZoomLevel {
    color: white;
    font-weight: 500;
    margin-bottom: 2px; }
  .internalBox.screenshotShortcutAnnouncement {
    color: #CCCCCC;
    font-weight: 400; }

